@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

$fonstack: 'Gotu', sans-serif;
$fontsize: 16px;
$primary: lightskyblue;
$primary_dark: color.scale($primary, $lightness: -50%);
