* {
  padding: 0;
  margin: 0;
}

.container {
  height: 75vh;
  
  display: flex;
  
  justify-content: center;
  align-items: center;
}

p {
  font-family: monospace;
}

.transitionable {
  font-size: 50px;
  color: lightskyblue;
  
  transition: font-size 5s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    color 5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.transitionable:hover {
  font-size: 60px;
  color: orangered;
  font-weight: bold;
}
